<h1> User: {{ name }}</h1>
<h2>User Info:</h2>
<ul>
    <li>User Id: {{ user_id }}</li>
    <li>email: {{ email }}</li>
    <li>favfood: {{ favfood }}</li>
    <li>active: {{ is_active }}</li>
</ul>
{% if is_active %}
    <h2>Reviews:</h2> 
    {% for review in reviews %}
    <div>
        {{ review }}
    </div>
    {% endfor%}
{% else %}
    <h2>no reviews for inactive users</h2>
{% endif %}
